<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Confirmit Dial Widget Demo</title>
   <script src="../../webcomponentsjs/webcomponents-lite.js"></script> 
   
   <link rel="import" href="../x-dial.html">  
  </head>
  <body>

    <p>An example of <code>&lt;x-dial&gt;</code>:</p>
  
    <x-dial label="Engine" 
            value=120 
            height=250 
            width=400 
            min=0
            max=280
            yellow-from=200
            yellow-to=250
            red-from=250 
            red-to=280
            >
    </x-dial>       
  </body>
</html>
